.about{
	&__container{
		display: flex;
		gap: 10px;
		flex-direction: column;
		@media screen and (min-width:1240px) {
			gap: 20px;
			flex-direction: row;
		}
		@media screen and (min-width:768px) and (max-width:1239.9px){
			gap: 24px;
		}
	}
	&__content{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 30px 20px;
		background-color: $--light-grey;
		border-radius: 20px;
		color: $--primary;
		@media screen and (min-width:1240px) {
			width: 56%;
			gap: 96px;
		}
		@media screen and (min-width:768px) {
			padding: 48px;
			border-radius: 24px;
		}
		h2{
			@include titleH2;
			width: min-content;
		}
		p{
			@include p3;
			margin-bottom: 12px;
			&:nth-of-type(1){
				margin-bottom: 20px;
			}
		}
		&__items{
			display: flex;
			flex-direction: column;
			gap: 24px;
			padding: 20px 0;
			border-top: 1px solid rgba(51, 51, 51, 0.50);
			border-bottom: 1px solid rgba(51, 51, 51, 0.50);
			margin-bottom: 20px;
		@media screen and (min-width:768px) {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap:12px;
		}
	
		}
		&__item{
			font-size: 12px;
			font-style: normal;
			font-weight: 400;
			line-height: 140%;			
			@media screen and (min-width:768px) and (max-width:1239.9px) {
				max-width:250px;
				width: 100%;
			}
			div{
				border-radius: 8px;
				background-color: $--primary;
				display: flex;
				align-items: center;
				justify-content: center;
				padding: 10px;
				aspect-ratio: 1;
				max-width: 48px;
				max-height: 48px;
				margin-bottom: 7px;
				img{
					max-width: 28px;
					max-height: 28px;
					aspect-ratio: 1;
				}
			}
			span{
				strong{
					font-weight: 700;
				}
			}
		}
	}
	&__images {
  display: grid;
	grid-template-columns: repeat(2, 1fr);
  gap: 9px;
	flex-wrap: wrap;
	grid-template-rows: 117px repeat(4, 46px)  117px;
  @media screen and (min-width: 1240px) {
    width: 43%;	
		grid-template-rows: 2.5fr repeat(4, 1fr) 2.5fr;
  }   
  @media screen and (max-width: 1239.9px) and (min-width:768px) {
	grid-template-rows: 185px repeat(4, 74px)  185px;
	gap: 8px;
  }   
   
  img {
    border-radius: 8px;
    object-fit: cover;
    width: 100%;
    height: auto;
    display: block;
		width: 100%;
    @media screen and (min-width: 1240px) {
      border-radius: 9px;
    }
		height: 100%;
		&:nth-of-type(1) { grid-area: 1 / 1 / 2 / 2; }
		&:nth-of-type(2) { grid-area: 2 / 1 / 6 / 2; }
		&:nth-of-type(3) { grid-area: 6 / 1 / 7 / 2; }
		&:nth-of-type(4) { grid-area: 1 / 2 / 5 / 3; }
		&:nth-of-type(5) { grid-area: 5 / 2 / 7 / 3; }
		}
		}
}

