.marquee{
	overflow: hidden;
	position: relative;
	z-index: 0;
	&__wrap{
		display: flex;
		width: max-content;
		align-items: center;
		transition: .3s linear;
		animation: marqueeLine var(--_animation-duration, 60s) var(--_animation-direction, normal) linear infinite;
		gap: 10px;
			@media screen and (min-width:768px) {
				gap: 15px;
				animation: marqueeLineMob var(--_animation-duration, 80s) var(--_animation-direction, normal) linear infinite;
			}
		&:hover{
				animation-play-state: paused;
			}
	}
	a{
		display: inline-flex;
		align-items: center;
		justify-content: center;
		
	}
}
@keyframes marqueeLine {
	to{
		transform: translate(calc(-50% - 7px));
	}
}
@keyframes marqueeLineMob {
	to{
		transform: translate(calc(-50% - 5px));
	}
}
