.error{
	&__container{
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		padding: 80px 0 70px 0;
		max-width: 600px;
		margin: 0 auto;
		@media screen and (min-width:1240px) {
			padding:160px 0 70px 0;
		}

		p{
			font-size: 18px;
			font-style: normal;
			font-weight: 400;
			line-height: 150%; /* 27px */
			letter-spacing: 0.36px;
			text-align: center;
			margin-bottom: 25px;
		}
	}
	&__wrap{
			position: relative;
			max-width: 430px;
			padding: 38px 0 35px 0;
			margin-bottom: 25px;
			
			img{
				position: absolute;
				top: 0;
				left: 50%;
				transform: translateX(-50%);
				z-index: 0;
				max-width: 240px;
				@media screen and (min-width:768px) {
					max-width: 320px;
				}
			}
			div{
				@include titleH1;
				position: relative;
				z-index: 1;
			}
		}
}